<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
    </title>
</head>

<body>
  <div class="col-md-12">
    <p class="homeText">{{homeText}}</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Vehicle Id</th>
              <th>VIN</th>
              <th>Register Number</th>
              <th>CustomerName</th>
              <th>LastSeen</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let v of vehicles">
              <td>{{v.id}}</td>
              <td>{{v.vin}}</td>
              <td>{{v.regnr}}</td>
              <td>{{v.customerName}}</td>
              <td>{{v.lastSeen}}</td>
              <td>
                <div *ngIf="v.isConnected==1" class="text-success"> Connected </div>
                <div *ngIf="v.isConnected==0" class="text-danger"> Disconnected </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
