<html lang="en">

<head>
  <title> Alten Vehicles UseCase</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="./style.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body ng-app ng-controller="MainController">
  <div class="container-fluid">
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="grid support-content">
            <div class="grid-body">
              <div class="row">
                <div style="/* height: calc(100vh - 80px); */" class="col-md-12 table-responsive" id="module">
                  <div>
                    <div>
                      <div class="panel-heading with-border">
                        <h2> <span class="widget-icon"> <i class="glyphicon glyphicon-road"></i> </span> <strong id="TableTitle"> Vehicles </strong> <small>Smart Cars</small></h2>
                      </div>

                      <div class="panel-body collapse in">
                        <div class="alerts"></div>

                        <div class="row align-items-center justify-content-center">
                          <div class="col-md-5 pt-3">
                            <div class="form-group ">
                              <select class="form-control" ng-model="selected_customer" ng-options="customer as customer.name for customer in customers">
                                <option value=""> Customers </option>

                              </select>
                            </div>
                          </div>
                          <div class="col-md-5 pt-3">
                            <div class="form-group">
                              <select class="form-control" ng-model="selected_state" ng-options="x as x.label for x in status">
                                <option value=""> Status </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <button type="button" class="btn btn-success btn-block" ng-click="search()">Search</button>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div style="height: calc(100vh - 230px);color: black;" class="table-responsive">
                              <table class="table table-hover small-font">
                                <thead>
                                  <tr>
                                    <th>Customer name</th>
                                    <th>VIN</th>
                                    <th>Reg No.</th>
                                    <th><i class="glyphicon glyphicon-signal"></i> Status</th>
                                    <th>Last Seen</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="vehicle in vehicles">
                                    <td>{{vehicle.customer.name}}</td>
                                    <td>{{vehicle._id}}</td>
                                    <td>{{vehicle.reg_no}}</td>
                                    <td class="{{vehicle.state}}">{{vehicle.state}}</td>
                                    <td>{{vehicle.last_seen}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="script.js"></script>
</body>

</html>
